USE [master]
GO
/****** Object:  Database [PolyOE]    Script Date: 1/28/2021 10:00:01 AM ******/
CREATE DATABASE [PolyOE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PolyOE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PolyOE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PolyOE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PolyOE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyOE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyOE]
GO
USE [PolyOE]
GO
/****** Object:  Table [dbo].[CUSTOMER_MASTER1]    Script Date: 1/28/2021 10:00:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_MASTER1](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MOBILE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMER_MASTER1] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 1/28/2021 10:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VideoId] [char](11) NULL,
	[UserId] [nvarchar](20) NULL,
	[LikeDate] [date] NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 1/28/2021 10:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[lastname] [varchar](20) NULL,
	[isAdmin] [bit] NULL,
	[image] [varchar](50) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/28/2021 10:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Fullname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Admin] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 1/28/2021 10:00:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [char](11) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Poster] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[Views] [int] NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_MASTER1] ON 

INSERT [dbo].[CUSTOMER_MASTER1] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [MOBILE]) VALUES (1, N'Teo', N'Le Van', N'teolv@gmail.com', N'0903414749')
INSERT [dbo].[CUSTOMER_MASTER1] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [MOBILE]) VALUES (2, N'Phu', N'Nguyen Thanh', N'phungsts@gmail.com', N'0903414749')
INSERT [dbo].[CUSTOMER_MASTER1] ([CUSTOMER_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [MOBILE]) VALUES (1002, N'Gai', N'Nguye Thi', N'gai@gmail.com', N'0909999999')
SET IDENTITY_INSERT [dbo].[CUSTOMER_MASTER1] OFF
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (1, N'vd1        ', N'teolv', CAST(N'2021-01-23' AS Date))
INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (2, N'vd1        ', N'gaint', CAST(N'2021-01-03' AS Date))
INSERT [dbo].[Favorites] ([Id], [VideoId], [UserId], [LikeDate]) VALUES (4, N'vd2        ', N'teolv', CAST(N'2021-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[Favorites] OFF
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin], [image]) VALUES (N'bich', N'321', N'phan thi ngoc', 0, N'images1.jpg')
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin], [image]) VALUES (N'fpt', N'123', N'Nguyen Van', 1, N'images2.jpg')
INSERT [dbo].[Registration] ([username], [password], [lastname], [isAdmin], [image]) VALUES (N'gai', N'123', N'le thi', 1, N'images3.jpg')
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'cu', N'123', N'phan van', N'cupv@gmail.com', 0)
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'gaint', N'abc', N'nguyen thi', N'gaint@gmail.com', 0)
INSERT [dbo].[Users] ([Id], [Password], [Fullname], [Email], [Admin]) VALUES (N'teolv', N'123', N'le van teo', N'teolv@gmail.com', 1)
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views]) VALUES (N'vd1        ', N'Nhac Xuan', N'Mung Xuan 2021', N'Nam moi Mung Xuan', 1, 3)
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views]) VALUES (N'vd2        ', N'Nhac Tet', N'Mung Tet 2021', N'Chuc Mung Nam Moi', 1, 5)
INSERT [dbo].[Videos] ([Id], [Title], [Poster], [Description], [Active], [Views]) VALUES (N'vd3        ', N'Tinh yeu', N'Tinh Yeu Dau doi', N'tinh yeu tuoi moi lon', 0, 5)
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Videos] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Videos]
GO
USE [master]
GO

USE [PolyOE]
GO
/****** Object:  StoredProcedure [dbo].[spFavoritesUser]    Script Date: 6/19/2023 11:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[spFavoritesUser] (@Id varchar(100))
as
begin 
	select u.Id as 'username', u.Fullname as 'fullname', u.Email as 'email', f.LikeDate as 'likeDate' 
	from Favorites f inner join Users u on f.UserId = u.Id inner join Videos v on f.VideoId = v.Id
	where v.Id = @Id;
end

USE [PolyOE]
GO
/****** Object:  StoredProcedure [dbo].[spFavoriteByYear]    Script Date: 6/19/2023 11:20:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[spFavoriteByYear](@Year INT)
AS
BEGIN
SELECT
v.Title AS 'Group',
count(f.Id) AS 'Likes',
max(f.LikeDate) AS 'Newest',
min(f.LikeDate) AS 'Oldest'
FROM Favorites f JOIN Videos v ON v.Id = f.VideoId
WHERE year(f.LikeDate) = @Year
GROUP BY v.Title
END

USE [PolyOE]
GO
/****** Object:  StoredProcedure [dbo].[sp_reportSendMail]    Script Date: 6/19/2023 11:20:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_reportSendMail](@id char(11))
as
begin
select u.Id, u.Email, s.emails ,s.share 
from Share s inner join Users u on s.UserId=u.Id inner join Videos v on s.VideoId=v.id 
where v.id = @id
end
